body {
  background: lightblue;
}
#wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 250px 200px;
  max-width: 900px;
  margin: 0 auto;
}
.header {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #7C7C7C;
}
.substanceOne {
  grid-column: 1/2;
  background: #EEE5E9;
}
.substanceTwo {
  grid-column: 2/3;
  background: #92DCE5;
}
.footer {
  grid-column: 1/3;
  background: #7C7C7C;
}
.text-style {
  text-align: center;
}